.messaging .helpful {
	width: 100%;
	height: 100%;

	background: linear-gradient(
		to left bottom,
		#bdbbbb,
		#8a8888,
		#605f5f,
		rgb(86, 84, 84),
		#505050
	);

	display: flex;
	justify-content: center;
	align-items: center;
}

.messaging > div {
	width: 100%;
	height: 100%;
	/* background-color: #36393f; */

	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

.messaging .header {
	max-height: 3em;
	flex: 1 0 3em;
	position: relative;

	display: flex;
	align-items: center;
	gap: 0.5em;

	box-shadow: 0 1px 2px hsl(0, 0%, 10%);
	/* box-shadow-color: ; */
}

.messaging .body {
	flex: 1 1 100%;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	/* flex-direction: column-reverse; */
}

.messaging .footer {
	flex: 1 1 3em;
	position: relative;
	margin: 0.3em 0.5em;
}

.messaging .header .call-btn {
	position: absolute;

	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1.15rem;

	height: max-content;

	color: hsl(0, 0%, 60%);
}

.messaging .header .call-btn:hover {
	cursor: pointer;
	color: hsl(0, 0%, 80%);
}

.messaging .header > *:first-child {
	margin-left: 0.75em;
}

.messaging .header .at-sign {
	font-size: 22px;

	color: #72767d;
	text-align: center;
	font-weight: 900;

	margin-top: 0.15em;
}

.messaging .header .username {
	color: hsl(0, 0%, 90%);

	text-align: center;

	/* margin-left: 2em; */

	font-weight: bold;
	font-size: 18px;
}

.messaging .header .username:hover {
	color: hsl(0, 0%, 100%);
}

.messaging .body .username {
	color: #fff;
	font-size: 16px;
	margin-right: 4px;
}

.messaging .body .date {
	color: #72767d;
	font-size: 12px;
	margin-left: 4px;
}

.messaging .body .msg {
	color: rgb(220, 221, 222);
	font-size: 16px;
	margin-left: 4px;
}

.messaging .footer input {
	width: 100%;
	height: 100%;
	/* background: linear-gradient(
		to left bottom,
		#bdbbbb,
		#8a8888,
		#605f5f,
		rgb(86, 84, 84),
		#505050
	); */
	background: hsl(218, 8%, 27%);

	border: none;
	border-radius: 0.5em;
	padding: 0.3em 0.75em;
	padding-right: 5em;

	color: hsl(0, 0%, 100%);
	font-size: 16px;
	font-family: 'myfont', 'Arial';
}

.messaging .footer input:focus {
	border: none;
	outline: none;
}

.messaging .footer .upload-btn-wrapper {
	margin: 0;
	padding: 0;

	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	width: 5em;

	/* background-color: red; */
	/* pointer-events: none; */

	display: flex;
	justify-content: center;
	align-items: center;
}

.messaging .footer .upload-btn {
	/* pointer-events: initial; */
	/* position: relative; */

	/* background-color: rgb(63, 64, 65); */
	/* background-color: hsl(0, 0%, 13%); */
	color: hsl(0, 0%, 70%);

	width: 2rem;
	height: 2rem;

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 26px;
}

.messaging .footer .upload-btn:hover {
	cursor: pointer;
	color: hsl(0, 0%, 90%);
}

/* .messaging .footer .upload-btn::before {
	content: '';
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	background-color: gray;

	width: 0.1875rem;
	height: 1.25rem;
}

.messaging .footer .upload-btn::after {
	content: '';
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	background-color: gray;

	width: 0.185rem;
	height: 1.25rem;

	transform: rotateZ(90deg);
} */

#image-upload {
	display: none;
}

.message-container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}

.message-container-darker {
	border-color: #ccc;
	background-color: #ddd;
}

.message-container-darker::after {
	content: '';
	clear: both;
	display: table;
}

.message-container::after {
	content: '';
	clear: both;
	display: table;
}

/* Style images */
/*.message-container img {*/
/*	float: left;*/
/*	max-width: 60px;*/
/*	width: 100%;*/
/*	margin-right: 20px;*/
/*	border-radius: 50%;*/
/*}*/

/* Style the right image */
/*.message-container-darker img {*/
/*	float: right;*/
/*	margin-left: 20px;*/
/*	margin-right:0;*/
/*}*/

/* Style time text */
.date-right {
	float: right;
	color: #aaa;
}

/* Style time text */
.date-left {
	float: left;
	color: #999;
}
