.messaging .helpful {
	width: 100%;
	height: 100%;

	/* background: linear-gradient(
		to left bottom,
		#bdbbbb,
		#8a8888,
		#605f5f,
		rgb(86, 84, 84),
		#505050
	); */

	background-color: hsl(216, 7%, 14%);
	color: hsl(0, 0%, 40%);
	user-select: none;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

.messaging > div {
	width: 100%;
	height: 100%;
	/* background-color: #36393f; */

	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

.messaging .header {
	max-height: 3em;
	flex: 1 0 3em;
	position: relative;

	display: flex;
	align-items: center;
	gap: 0.5em;

	box-shadow: 0 1px 2px hsl(0, 0%, 10%);
	/* box-shadow-color: ; */
}

.messaging .body {
	flex: 1 1 100%;
	overflow-y: auto;

	display: flex;
	flex-direction: column;

	padding-left: 1em;
	padding-bottom: 1em;
	/* flex-direction: column-reverse; */
}

.messaging .footer {
	flex: 1 0 3em;
	position: relative;
	margin: 0.3em 0.5em;
}

.messaging .header .call-btn {
	position: absolute;

	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2rem;

	height: max-content;

	color: hsl(0, 0%, 60%);
}

.messaging .header .call-btn:hover {
	cursor: pointer;
	color: hsl(0, 0%, 80%);
}

.messaging .header .call-btn::before,
.messaging .header .call-btn::after {
	--scale: 0;
	--tooltip-color: hsl(216, 7%, 14%);
	--arrow-size: 6px;

	position: absolute;

	/* bottom: -0.25rem; */
	top: 100%;
	left: 50%;

	transform: translateX(-50%) translateY(var(--translate-y, 0))
		scale(var(--scale));
	transition: transform 70ms ease-in-out;
	transform-origin: top center;

	z-index: 1000;

	pointer-events: none;
}

.messaging .header .call-btn::before {
	--translate-y: calc(var(--arrow-size));

	content: attr(data-tooltip);
	padding: 0.5em 1em;

	border-radius: 0.3rem;
	text-align: center;
	width: max-content;
	height: max-content;

	background-color: var(--tooltip-color);
	color: hsl(0, 0%, 80%);
	user-select: none;
	font-weight: bold;
}

.messaging .header .call-btn:hover::before,
.messaging .header .call-btn:hover::after {
	--scale: 1;
}

.messaging .header .call-btn::after {
	--translate-y: calc(-1 * var(--arrow-size));

	content: '';
	border: var(--arrow-size) solid transparent;
	border-bottom-color: var(--tooltip-color);
}

.messaging .header > *:first-child {
	margin-left: 0.75em;
}

.messaging .header .at-sign {
	font-size: 22px;

	color: #72767d;
	text-align: center;
	font-weight: 900;

	margin-top: 0.15em;
}

.messaging .header .username {
	color: hsl(0, 0%, 90%);

	text-align: center;

	/* margin-left: 2em; */

	font-weight: bold;
	font-size: 18px;
}

.messaging .header .username:hover {
	color: hsl(0, 0%, 100%);
}

.messaging .body .username {
	color: #fff;
	font-size: 16px;
	margin-right: 4px;
}

.messaging .body .date {
	color: #72767d;
	font-size: 12px;
	margin-left: 4px;
}

.messaging .body .msg {
	color: rgb(220, 221, 222);
	font-size: 16px;
	margin-left: 4px;
}

.messaging .body .file-container {
	background-color: hsl(223, 7%, 20%);
	width: max-content;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3em;

	padding: 0.75em 1em;
	border-radius: 0.3em;
}

.messaging .body .file-container .file-icon {
	flex-shrink: 0;
	width: 30px;
	height: 40px;
	margin-right: 8px;
}

.messaging .body .file-container .file-info-container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.messaging .body .file-container .file-info-container .file-name {
	text-decoration: none;
	color: hsl(197, 100%, 47.8%);
}

.messaging .body .file-container .file-info-container .file-size {
	color: hsl(0, 0%, 47.8%);
	font-size: 14px;
}

.messaging .body .file-container .file-info-container .file-name:hover {
	text-decoration: underline;
}

.messaging .body .file-container .file-download-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	margin-right: 8px;

	text-decoration: none;
	color: hsl(0, 0%, 70%);

	text-align: center;
	font-size: 20px;
}

.messaging .body .file-container .file-download-icon:hover {
	color: hsl(0, 0%, 90%);
}

.messaging .body .file-container .file-download-icon i {
	margin-left: 0.5em;
}

.messaging .footer input {
	width: 100%;
	height: 100%;
	/* background: linear-gradient(
		to left bottom,
		#bdbbbb,
		#8a8888,
		#605f5f,
		rgb(86, 84, 84),
		#505050
	); */
	background: hsl(218, 8%, 27%);

	border: none;
	border-radius: 0.5em;
	padding: 0.3em 0.75em;
	padding-right: 5em;

	color: hsl(0, 0%, 100%);
	font-size: 16px;
	font-family: 'myfont', 'Arial';
}

.messaging .footer input:focus {
	border: none;
	outline: none;
}

.messaging .footer .upload-btn-wrapper {
	margin: 0;
	padding: 0;

	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	width: 5em;

	/* background-color: red; */
	/* pointer-events: none; */

	display: flex;
	justify-content: center;
	align-items: center;
}

.messaging .footer .upload-btn {
	/* pointer-events: initial; */
	/* position: relative; */

	/* background-color: rgb(63, 64, 65); */
	/* background-color: hsl(0, 0%, 13%); */
	color: hsl(0, 0%, 70%);

	width: 2rem;
	height: 2rem;

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 26px;
}

.messaging .footer .upload-btn:hover {
	cursor: pointer;
	color: hsl(0, 0%, 90%);
}

/* .messaging .footer .upload-btn::before {
	content: '';
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	background-color: gray;

	width: 0.1875rem;
	height: 1.25rem;
}

.messaging .footer .upload-btn::after {
	content: '';
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	background-color: gray;

	width: 0.185rem;
	height: 1.25rem;

	transform: rotateZ(90deg);
} */

#image-upload {
	display: none;
}

.message-container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}

.message-container-darker {
	border-color: #ccc;
	background-color: #ddd;
}

.message-container-darker::after {
	content: '';
	clear: both;
	display: table;
}

.message-container::after {
	content: '';
	clear: both;
	display: table;
}

/* Style images */
/*.message-container img {*/
/*	float: left;*/
/*	max-width: 60px;*/
/*	width: 100%;*/
/*	margin-right: 20px;*/
/*	border-radius: 50%;*/
/*}*/

/* Style the right image */
/*.message-container-darker img {*/
/*	float: right;*/
/*	margin-left: 20px;*/
/*	margin-right:0;*/
/*}*/

/* Style time text */
.date-right {
	float: right;
	color: #aaa;
}

/* Style time text */
.date-left {
	float: left;
	color: #999;
}
