<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
</head>
<body>
<form method="POST" id="sign-in-user">
    <label for="username">Username: </label>
    <input type="text" id="username"/><br/>
    <label for="password">Password: </label>
    <input type="password" id="password"/><br/>
    <button id="sign-in-btn">Sign-in</button>
</form>

<div id="error">

</div>

<script>
    const btn = document.querySelector("#sign-in-btn");
    btn.addEventListener("click", async e => {
        e.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        const user = {
            "username": username,
            "password": password
        };

        fetch("/sign-in", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        }).then(response => response.json())
            .then(accountDto => {
                if (accountDto.message == null) {
                    window.location = "/user";
                } else {
                    document.getElementById("error").innerHTML = accountDto.message;
                }
            });

    })
</script>
</body>
</html>